.DS_Store
DerivedData
DPLinearCalendar.xcodeproj/xcuserdata/*
DPLinearCalendar.xcodeproj/project.xcworkspace/xcuserdata/*
DPLinearCalendar.xcodeproj/project.pbxproj.mergesave
DPLinearCalendar.xcodeproj/project.xcworkspace/xcshareddata/
DPLinearCalendar.xcodeproj/kostas.mode1v3
DPLinearCalendar.xcodeproj/kostas.pbxuser